<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video downloader</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/script/script.js" defer></script>
</head>
<body>
    <main class="main_container">
        <h1 class="main_container__titulo">VIDEO DOWNLOADER</h1>
        <input class="main_container__input" id="video-url" type="url" placeholder="coloque a url do video" autofocus>
        <button class="main_container__input" id="download_button">download</button>
        <p class="main_container__version">version 0.1</p>
    </main>
</body>
</html>