<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video downloader</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/script/script.js" defer></script>
</head>
<body>
    <main class="main_container">
        <h1 class="main_container__titulo">VIDEO DOWNLOADER</h1>
        <div class="main_container__video-url">
            <input class="main_container__input" id="video-url" type="url" placeholder="coloque a url do video" autofocus>
            <select class="main_container__selector" name="output" id="output-select">
                <option value="mp4">MP4</option>
                <option value="mp3">MP3</option>
                <option value="avi">AVI</option>
                <option value="mkv">MKV</option>
                <option value="mov">MOV</option>
                <option value="webm">WEBM</option>
            </select>
            <select class="main_container__selector" name="quality" id="quality-select">
                <option value="bestvideo+bestaudio/best">Best Quality</option>
                <option value="bestvideo[height<=720]+bestaudio">Medium Quality</option>
                <option value="worstvideo+bestaudio/worst">Poor Quality</option>
            </select>
        </div>
        <div>
            <button class="main_container__input" id="download-btn">download</button>
            <!-- <select class="main_container__selector" name="quantity" id="quantity-select">
                <option value="1x">1x</option>
                <option value="2x">2x</option>
                <option value="3x">3x</option>
                <option value="4x">4x</option>
                <option value="5x">5x</option>
            </select> -->
        </div>
        <div class="footer">
            <p class="main_container__version">version 0.1.5</p>
            <p class="main_container__version">skelware</p>
        </div>
    </main>
</body>
</html>